absl-py==0.8.0
astor==0.8.0
attrs==19.1.0
audioread==2.1.8
Automat==0.7.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
constantly==15.1.0
cycler==0.10.0
decorator==4.4.0
dill==0.3.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Ext==0.1
Flask-Login==0.5.0
future==0.17.1
gast==0.3.2
gevent==1.4.0
google-pasta==0.1.7
greenlet==0.4.15
grpcio==1.23.0
h5py==2.10.0
htmlmin==0.1.12
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
inflect==2.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
jolla==1.1.12
jsmin==2.2.2
jsonpatch==1.24
jsonpointer==2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
librosa==0.7.0
livereload==2.6.1
llvmlite==0.29.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mkdocs==1.0.4
mkdocs-material==4.4.3
mkdocs-minify-plugin==0.2.1
multiprocess==0.70.8
mysql==0.0.2
mysqlclient==1.4.4
numba==0.45.1
numpy==1.17.2
pep562==1.0
Pillow==6.2.0
protobuf==3.9.1
pycparser==2.19
Pygments==2.4.2
PyHamcrest==1.9.0
pymdown-extensions==6.1
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==4.19.19
python-dateutil==2.8.0
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
resampy==0.2.2
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
sounddevice==0.3.13
SoundFile==0.10.2
tensorboard==1.14.0
tensorflow==2.5.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
torch==1.2.0+cpu
torchfile==0.1.0
torchvision==0.4.0+cpu
tornado==6.0.3
tqdm==4.36.1
Twisted==19.7.0
umap-learn==0.3.10
Unidecode==1.1.1
urllib3==1.25.5
visdom==0.1.8.9
webrtcvad==2.0.10
websocket-client==0.56.0
Werkzeug==0.16.0
wrapt==1.11.1
zope.interface==4.6.0
